@media (max-width: 1200px) and (min-width: 875px) {
    img {
        width: 300px;
    }

    .div-principal {
        margin: 0;
    }
}

@media (max-width: 875px) and (min-width: 400px){
    img {
        width: 200px;
    }

    .formulario-div {
        margin: 85px 40px;
    }
}

@media (min-width:1900px) {
    img {
        width: 570px;
    }

    h1 {
        font-size: 3.5em;
    }

    .h1-div {
        margin-bottom: 60px;
        width: 600px;
    }

    label,p {
        font-size: 2em;
        color: white ;
    }

    .sign-in-now-button {
        width: 200px;
        font-size: 2em;
    }

    .formulario-div {
        margin: 130px 20px 0px 100px;
    }

    .input-campo {
        height: 1.2em;
        font-size: 1.7em;
    }

    .sign-in-now-button {
        font-size: 1.6em;
        padding: 20px 0px;
        width: 230px;
        margin-top: 70px;
    }

    .i-agree-p {
        font-size: 1.3em;
        margin-top: 20px;
    }

    .checkbox {
        height: 25px;
        width: 25px;
        margin-top: 20px;
    }

    .sign-up-button {
        padding: 14px 0px;
        width: 90px;
        padding-left: 20px;
        font-size: 20px;
        right: 120px;
    }

    .sign-up-button:hover {
        right: 120px;
    }

    .sign-in-button {
        padding: 14px 0px;
        padding-left: 20px;
        width: 90px;
        font-size: 20px;
    }
}

@media (max-width:800px) {

    img {
        width: 250px;
    }

    .div-principal {
        margin: 0;
        grid-template-rows: 0.4fr 1fr;
        grid-template-columns: none;
    }

    .div-esquerda {
        border-radius: 0;
    }

    .div-direita {
        border-radius: 0;
    }

    .sign-in-button,
    .sign-up-button {
        display: none;
    }

    .formulario-div {
        margin: 45px 20px 0px 45px;
    }
}